*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Speedee, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif;
}
.sidebar_flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#sidebar{
    width: 250px;
    height: 100%;
    border-right: 1px solid black;
    display: flex;
    margin-right: 55px;
}

.sidebar_item{
    width: 250px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

.sidebar_image{
    margin-right: 20px;
    width:100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
}

h1{
    color: black;
    margin-top: 50px;
    margin-left: 50px;
}

#logo_nav{
    width: 135px;
    height: 100px;
    object-fit: cover;
    margin: 20px 0 10px 0;
}

#sidebar_logo{
    height: 200px;
}

.item_price{
    font-size: 52px;
}

.item_image{
    width: 350px;
    height: 200px;
    object-fit: cover;
}


/*? hier onder begint de header waar de producten in staan  */

header{
    flex: 1;
}

#containerItems{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.containerItem{
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 350px;
    margin: 20px;
    border: 1px solid black;
    flex-direction: column;
}
.product_image{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.product_kcal{
    display: none;
 }

.product_price{
    margin: 5px 0 0 15px;
    font-size: 24px;
    color: black;
}
.product_name{
    margin: 5px 0 0 15px;
    font-size: 18px;
}

.Product{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid black;
}

/*? footer beging hier onder */

footer{
    width: 100%;
    height: 150px;
    background-color: red;
    margin-top: 25px;
}
/*?  begin van de detailpage */

#product-prep{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#sidebarDetailpage{
    width: 250px;
    height: 100%;
    border-right: 1px solid black;
    display: flex;
    margin-right: 55px;
}
#sidebarDetailpage{
    width: 250px;
    height: 100%;
    border-right: 1px solid black;
    display: flex;
    margin-right: 55px;
}

#product-prep2{
    flex:1;
}

